header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: cornflowerblue;
}

nav {
  grid-area: nav;
  background-color: #072661;
}

main {
  grid-area: main;
  background-color: chartreuse;
}

footer {
  grid-area: footer;
  background-color: crimson;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100px;
  grid-gap: 10px;
  grid-template-areas:
    'header header'
    'nav main'
    'nav main';
}

.profile-area {
  display: flex;
  justify-content: space-between;
}

.bell {
  margin-right: 0.5em;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
}

.people-imgs {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
